@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.content_box {
    border: 1px solid black;
    max-width: 500px;
    min-height: 300px;
    border-radius: 18px;
    margin-top: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding: 25px;
}

.header {

    &-tab_content {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }

    &_tab {
        border-radius: 20px;
        padding: 10px 20px;
        min-width: 86px;
        min-height: 23px;
        background: #376b44;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        color: #f4f6f5;
        font-family: "Raleway", sans-serif;

    }

    &_body {
        margin-top: 49px;
        padding: 10px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: "Raleway", sans-serif;
            font-size: 25px;
            border: 2px solid;
            border-radius: 5px;
            padding: 10px;
            background-color: #376b44;
            color: #f4f6f5;
            margin-bottom: 20px;
            width: 100%;
        }

    }

}


.modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    z-index: 1001;
    /* Поверх оверлея */
    max-width: 500px;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    &_input {
        display: block;
        margin: 0 auto;

    }

    &_title {
        text-align: center;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
    }

    &_btn {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        padding: 20px 60px;
        width: 227px;
        height: 65px;
        background-color: #18a9de;
        font-family: "Raleway", sans-serif;
        font-size: 20px;
    }

    &_content_box {
        display: flex;
        justify-content: center;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
    }

    &__close:hover {
        color: #ff0000;
    }

}

.color {
    display: flex;
    justify-content: center;
    gap: 40px;

    &__item-1 {
        width: 50px;
        height: 50px;
        background-color: red;
    }

    &__item-2 {
        width: 50px;
        height: 50px;
        background-color: green;
    }

    &__item-3 {
        width: 50px;
        height: 50px;
        background-color: blue;
    }
}

.overlay {
    display: none;
    /* Скрыт по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Полупрозрачный черный */
    z-index: 1000;
    /* Поверх всего */
}


/* Кнопка закрытия */

.block {
    display: block;
}

.delete_btn {
    background: transparent;
    border: none;
    cursor: pointer;
}